*.DS_STORE
*.DS_Store
*.log
node_modules
static/dist/
coverage
test-reports
.idea/
.yarn-cache
.aws/credentials
!.aws/.gitkeep
.vscode/
.env
.todo
nightwatch
browserstack.err
.ignore
.agignore
static/index.html
servers/transpiled/
/webpack-stats.json
/webpack-assets.json
/jest.json
secrets/*
!secrets/.gitkeep
.gitsecret/keys/random_seed
!secrets/*.secret
